<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCI 341</title>
</head>
<body>
<h1>Edit page</h1>
   <form method = "POST" action = "/update4/{{discover.disease_code.disease_code}}">
            {%csrf_token%}

        <table border = "1">
            <tr>
                <td>Country</td>
                <td><input type="text" name="cname" value="{{discover.cname.cname}}"></td>
            </tr>
          <tr>
                <td>Disease</td>
                <td><input type="text" name="disease_code" value="{{discover.disease_code.disease_code}}"></td>
            </tr>
            <tr>
                <td>Discovery Date</td>
                <td><input type="date" name="first_enc_date" value="{{discover.first_enc_date}}"   ></td>
            </tr>
          <tr>
                          <td><input type="submit" value = "Update record"></td>
                <td>
                    {%  if messages  %}
                    {%  for mess in messages  %}
                    <b>{{mess}}</b>

                    {%  endfor  %}
                    {%  endif  %}
                </td>
            </tr>
        </table>

        <a href = "{% url 'main_page' %}">Home Page</a>
    </form>
</body>
</html>