<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCI 341</title>
</head>
<body>
<h1>Edit page</h1>
   <form method = "POST" action = "/update3/{{disease.disease_code}}">
            {%csrf_token%}

        <table border = "1">
            <tr>
                <td>Disease Code</td>
                <td><input type="text" name="disease_code" value="{{disease.disease_code}}"></td>
            </tr>
          <tr>
                <td>Pathogen</td>
                <td><input type="text" name="pathogen" value="{{disease.pathogen}}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" name="description" value="{{disease.description}}"   ></td>
            </tr>
          <tr>
                <td>ID</td>
                <td><input type="text" name="id" value="{{disease.id.id}}"></td>
            </tr>
          <tr>
                          <td><input type="submit" value = "Update record"></td>
                <td>
                    {%  if messages  %}
                    {%  for mess in messages  %}
                    <b>{{mess}}</b>

                    {%  endfor  %}
                    {%  endif  %}
                </td>
            </tr>
        </table>

        <a href = "{% url 'main_page' %}">Home Page</a>
    </form>
</body>
</html>