<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCI 341</title>
</head>
<body>
  <center>
    <h1>CSCI 341 Bonus Assignment</h1>
    <h3>Made by Dias Baimukhanov (ID:201941183)</h3>
    <hr/>

    <table border="1">
        <tr>
            <th>Country</th>
            <th>Population</th>
        </tr>
        {% for result in country %}
        <tr>
            <td>{{result.cname}}</td>
            <td>{{result.population}}</td>
            <td><a href="edit/{{result.cname}}">Edit</a></td>
            <td><a href="delete/{{result.cname}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

      <table border="1">
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
        {% for result in disease_type %}
        <tr>
            <td>{{result.id}}</td>
            <td>{{result.description}}</td>
            <td><a href="edit/{{result1.id}}">Edit</a></td>
            <td><a href="delete/{{result1.id}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <table border="1">
        <tr>
            <th>Disease Code</th>
            <th>Pathogen</th>
            <th>Description</th>
            <th>ID</th>
        </tr>
        {% for result in disease %}
        <tr>
            <td>{{result.disease_code}}</td>
            <td>{{result.pathogen}}</td>
            <td>{{result.description}}</td>
            <td>{{result.id}}</td>
            <td><a href="edit/{{result.id}}">Edit</a></td>
            <td><a href="delete/{{result.id}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <table border="1">
        <tr>
            <th>Country</th>
            <th>Disease</th>
            <th>Discovery Date</th>
        </tr>
        {% for result in discover %}
        <tr>
            <td>{{result.cname}}</td>
            <td>{{result.disease_code}}</td>
            <td>{{result.first_enc_date}}</td>
            <td><a href="edit/{{result.id}}">Edit</a></td>
            <td><a href="delete/{{result.id}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

<!--      <table border="1">-->
<!--        <tr>-->
<!--            <th>Email</th>-->
<!--            <th>Name</th>-->
<!--            <th>Surname</th>-->
<!--            <th>Salary</th>-->
<!--            <th>Phone</th>-->
<!--            <th>Country</th>-->
<!--        </tr>-->
<!--        {% for result in users %}-->
<!--        <tr>-->
<!--            <td>{{result.email}}</td>-->
<!--            <td>{{result.name}}</td>-->
<!--            <td>{{result.surname}}</td>-->
<!--            <td>{{result.salary}}</td>-->
<!--            <td>{{result.phone}}</td>-->
<!--            <td>{{result.cname}}</td>-->
<!--            <td><a href="edit/{{result.email}}">Edit</a></td>-->
<!--            <td><a href="delete/{{result.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->

<!--      <table border="1">-->
<!--        <tr>-->
<!--            <th>Email</th>-->
<!--            <th>Degree</th>-->
<!--        </tr>-->
<!--        {% for result in doctor %}-->
<!--        <tr>-->
<!--            <td>{{result.email}}</td>-->
<!--            <td>{{result.degree}}</td>-->
<!--            <td><a href="edit/{{result.email}}">Edit</a></td>-->
<!--            <td><a href="delete/{{result.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->

<!--      <table border="1">-->
<!--        <tr>-->
<!--            <th>Email</th>-->
<!--            <th>Department</th>-->
<!--        </tr>-->
<!--        {% for result in publicservant %}-->
<!--        <tr>-->
<!--            <td>{{result.email}}</td>-->
<!--            <td>{{result.department}}</td>-->
<!--            <td><a href="edit/{{result.email}}">Edit</a></td>-->
<!--            <td><a href="delete/{{result.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->


<!--      <table border="1">-->
<!--        <tr>-->
<!--            <th>Email</th>-->
<!--            <th>ID</th>-->
<!--        </tr>-->
<!--        {% for result in specialize %}-->
<!--        <tr>-->
<!--            <td>{{result.email}}</td>-->
<!--            <td>{{result.id}}</td>-->
<!--            <td><a href="edit/{{result.email}}">Edit</a></td>-->
<!--            <td><a href="delete/{{result.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->


<!--      <table border="1">-->
<!--        <tr>-->
<!--            <th>Email</th>-->
<!--            <th>Country</th>-->
<!--            <th>Disease Code</th>-->
<!--            <th>Total Deaths</th>-->
<!--            <th>Total Patients</th>-->
<!--        </tr>-->
<!--        {% for result in record %}-->
<!--        <tr>-->
<!--            <td>{{result.email}}</td>-->
<!--            <td>{{result.cname}}</td>-->
<!--            <td>{{result.disease_code}}</td>-->
<!--            <td>{{result.total_deaths}}</td>-->
<!--            <td>{{result.total_patients}}</td>-->
<!--            <td><a href="edit/{{result.email}}">Edit</a></td>-->
<!--            <td><a href="delete/{{result.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->

  </center>
</body>
</html>