<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCI 341</title>
</head>
<body>
  <center>
    <h1>CSCI 341 Bonus Assignment</h1>
    <h3>Made by Dias Baimukhanov (ID:201941183)</h3>
    <hr/>
      <h2>Country</h2>
      <a href = "{% url 'insert1' %}">Create New Country</a>
    <table border="1">
        <tr>
            <th>Country</th>
            <th>Population</th>
        </tr>
        {% for result in country %}
        <tr>
            <td>{{result.cname}}</td>
            <td>{{result.population}}</td>
            <td><a href="edit1/{{result.cname}}">Edit</a></td>
            <td><a href="delete1/{{result.cname}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

      <h2>Disease Type</h2>
      <a href = "{% url 'insert2' %}">Create New Disease Type</a>
      <table border="1">
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
        {% for result in disease_type %}
        <tr>
            <td>{{result.id}}</td>
            <td>{{result.description}}</td>
            <td><a href="edit2/{{result.id}}">Edit</a></td>
            <td><a href="delete2/{{result.id}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <h2>Disease</h2>
      <a href = "{% url 'insert3' %}">Create New Disease</a>
      <table border="1">
        <tr>
            <th>Disease Code</th>
            <th>Pathogen</th>
            <th>Description</th>
            <th>ID</th>
        </tr>
        {% for result in disease %}
        <tr>
            <td>{{result.disease_code}}</td>
            <td>{{result.pathogen}}</td>
            <td>{{result.description}}</td>
            <td>{{result.id.id}}</td>
            <td><a href="edit3/{{result.disease_code}}">Edit</a></td>
            <td><a href="delete3/{{result.disease_code}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <h2>Discover</h2>
      <a href = "{% url 'insert4' %}">Create New Discovery</a>
      <table border="1">
        <tr>
            <th>Country</th>
            <th>Disease</th>
            <th>Discovery Date</th>
        </tr>
        {% for result in discover %}
        <tr>
            <td>{{result.cname.cname}}</td>
            <td>{{result.disease_code.disease_code}}</td>
            <td>{{result.first_enc_date}}</td>
            <td><a href="edit4/{{result.disease_code.disease_code}}">Edit</a></td>
            <td><a href="delete4/{{result.disease_code.disease_code}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <h2>Users</h2>
      <a href = "{% url 'insert5' %}">Create New User</a>
      <table border="1">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Salary</th>
            <th>Phone</th>
            <th>Country</th>
        </tr>
        {% for result in users %}
        <tr>
            <td>{{result.email}}</td>
            <td>{{result.name}}</td>
            <td>{{result.surname}}</td>
            <td>{{result.salary}}</td>
            <td>{{result.phone}}</td>
            <td>{{result.cname.cname}}</td>
            <td><a href="edit5/{{result.email}}">Edit</a></td>
            <td><a href="delete5/{{result.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <h2>Doctor</h2>
      <a href = "{% url 'insert6' %}">Create New Doctor</a>
      <table border="1">
        <tr>
            <th>Email</th>
            <th>Degree</th>
        </tr>
        {% for result in doctor %}
        <tr>
            <td>{{result.email.email}}</td>
            <td>{{result.degree}}</td>
            <td><a href="edit6/{{result.email.email}}">Edit</a></td>
            <td><a href="delete6/{{result.email.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

    <h2>Public Servant</h2>
      <a href = "{% url 'insert7' %}">Create New Public Servant</a>
      <table border="1">
        <tr>
            <th>Email</th>
            <th>Department</th>
        </tr>
        {% for result in publicservant %}
        <tr>
            <td>{{result.email.email}}</td>
            <td>{{result.department}}</td>
            <td><a href="edit7/{{result.email.email}}">Edit</a></td>
            <td><a href="delete7/{{result.email.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <h2>Specialize</h2>
<!--      <a href = "{% url 'insert9' %}">Create New Specialize</a>-->
      <table border="1">
        <tr>
            <th>Email</th>
            <th>ID</th>
        </tr>
        {% for result in specialize %}
        <tr>
            <td>{{result.email.email}}</td>
            <td>{{result.id.id}}</td>
<!--            <td><a href="edit8/{{result.email.email}}">Edit</a></td>-->
            <td><a href="delete8/{{result.email.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

      <h2>Record</h2>
      <a href = "{% url 'insert8' %}">Create New Record</a>
      <table border="1">
        <tr>
            <th>Email</th>
            <th>Country</th>
            <th>Disease Code</th>
            <th>Total Deaths</th>
            <th>Total Patients</th>
        </tr>
        {% for result in record %}
        <tr>
            <td>{{result.email.email}}</td>
            <td>{{result.cname.cname}}</td>
            <td>{{result.disease_code.disease_code}}</td>
            <td>{{result.total_deaths}}</td>
            <td>{{result.total_patients}}</td>
            <td><a href="edit9/{{result.email.email}}">Edit</a></td>
            <td><a href="delete9/{{result.email.email}}" onclick="Are you sure you want to delete it?">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

  </center>
</body>
</html>