<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCI 341</title>
</head>
<body>
<center>
        <h1>
            Edit page
        </h1>
    <h2>
            Please note that you cannot update email, country and disease code
        </h2>
     <form method = "POST" action="/update9/{{record.email.email}}">
            {%  csrf_token  %}
        <table border = "1">

                <tr>
                    <td>Email</td>
                    <td><input type = "text" name = "email" value="{{record.email.email}}"> </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><input type = "text" name = "cname" value= "{{record.cname.cname}}"> </td>
                </tr>
            <tr>
                <tr>
                    <td>Disease Code</td>
                    <td><input type = "text" name = "disease_code" value= "{{record.disease_code.disease_code}}"> </td>
                </tr>
            <tr>
                <tr>
                    <td>Total Deaths</td>
                    <td><input type = "text" name = "total_deaths" value= "{{record.total_deaths}}"> </td>
                </tr>
            <tr>
                <tr>
                    <td>Total Patients</td>
                    <td><input type = "text" name = "total_patients" value= "{{record.total_patients}}"> </td>
                </tr>
            <tr>
                    <td><input type = "submit" value = "Update"/>
                    <td>
                        {%  if messages  %}
                        {%  for mess in messages  %}
                        <b>{{mess}}</b>

                        {%  endfor  %}
                        {%  endif  %}
                    </td>
                </tr>
        </table>
     </form>
        <a href = "{% url 'main_page' %}">Home Page</a>
    </center>
</body>
</html>